@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --font-inter: var(--font-inter);
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
